/* remove default padding because we want all navbars to expand full width */
.navbar-collapse {
	padding-right: 0 !important;
	padding-left: 0 !important;
	overflow-x: hidden;
}

/* add removed padding to categories and subcategories lists */
ul.categories, ul.subcategories {
	padding-right: 15px;
	padding-left: 15px;
	margin-bottom:0;
}

/* remove weird negative margin in responsive navbar for products */ 
ul.products {
	margin:0px;
	padding:0px;
}

/* remove top and bottom margins so it looks better in mobile */
.navbar-nav {
	margin-top: 0px;
	margin-bottom: 0px;
}
/* remove left negative margin in mobile in subsubcategories (it adds up and ends out of the menu) */
.subsubcategories {
	margin: 0px;
}

/* hide subcategories */
.nav.subnav {
	display: none;
	background-color: #00538c;
	clear:both;
}

/* hide subsubcategories */
.nav>li.subsubnav {
	display: none;
	background-color: rgba(0, 0, 0, 0.2);
}

/* hide product list and prepare for js scrolling */
#product-list {
	display: none;
	background-color: #333;
	overflow: hidden;
	position: relative;
	white-space:nowrap;
	clear:both;
}
/* just let them flow */
#product-list li {
	float:none;
	display:inline-block;
}
/* force product list height */
/* (more or equal to desired img height + top padding + bottom padding) */
#product-list ul {
	height: 200px;
}
/* image height (less or equal to that configured in admin > category image size) */
#product-list li img {
	max-height: 180px;
}

/* we removed href so we need to force the cursor to look like a link */
.fw_category, .fw_subcategory, .fw_subsubcategory {
	cursor:pointer;
}

/* selected category look a bit darker */
.fw_category.active, .fw_subcategory.active {
	background-color:rgba(0, 0, 0, 0.1) !important;
}
.fw_subsubcategory.active {
	background-color:rgba(0, 0, 0, 0.3) !important;
}

/* don't show the responsive button to display all categories */
li .navbar-showall, li .subnavbar-showall {
	display:none;
}

@media (max-width: 767px) {
	/* hide the not selected categories */
	li.responsive-hide {
		display:none;
	}
	/* show the responsive button to display all categories */
	li.responsive-show .navbar-showall, li.responsive-show .subnavbar-showall {
		display:inline;
		position:absolute;
		top:18%;right:10px;
	}
	/* smaller product images */
	#product-list ul {
		height: 100px;
	}
	#product-list li img {
		max-height: 80px;
	}
}

#productLoading {
	background: url(../image/ajax-loader.gif) transparent no-repeat center center;
	height: 100px;
	width: 100px;
	position: absolute;
}
